{% load static %}
{% with favicon_version='20260412a' logo_favicon='branding/sudpix-logo.png' %}
<link rel="icon" type="image/png" href="{% static logo_favicon %}?v={{ favicon_version }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{% static logo_favicon %}?v={{ favicon_version }}" />
<link rel="icon" type="image/png" sizes="192x192" href="{% static logo_favicon %}?v={{ favicon_version }}" />
<link rel="shortcut icon" href="{% static logo_favicon %}?v={{ favicon_version }}" />
<link rel="apple-touch-icon" href="{% static logo_favicon %}?v={{ favicon_version }}" />
{% endwith %}
